body{
    background: url("../img/fundo.png") repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main{
    width: 900px;
}
#capa{
    padding-bottom: 2px;
}
#navbar a{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #483a63;
    padding: 10px;
}
#navbar{
    background-color: #bdbebd;
    padding: 20px 5px;
}
#content{
    background-color: #fff;
    padding: 2px 10px;
}
#titulo{
    color: #bdbebd;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.center{
    text-align: center;
}
img.imgCampanha{
    border: 10px solid #c0c0c0;
}
p.contato{
    margin: 0;
}